/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 50px;
  font-family: "Avenir", sans-serif;
  font-family: "IBM Plex Serif", serif;
  background: linear-gradient(90deg, #a5a5a5, #000);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.intro h1 {
  color: #fff;
  font-size: 42px;
  font-style: italic;
  font-weight: 300;
}

.intro h4 {
  color: #fff;
  font-style: italic;
  font-weight: 200;
  font-size: 30px;
}

img {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  padding: 1px;
  object-fit: cover;
  border: 8px solid transparent;
  background: linear-gradient(60deg, #fff 10%, #ce80 100%);
}

/* 

.slogan {
  position: absolute;
  color: #d35e35;
  top: 231px;
  font-size: 87px;
  margin-left: 380px;
  text-transform: uppercase;
} */

/* .info h4 {
  font-size: 40px;
  font-weight: 300;
  color: #d35e35;
} */

table {
  width: 100%;
}

td {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.info_hobbies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
