/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  /* padding: 50px; */
  font-family: "Avenir", sans-serif;
  font-family: "IBM Plex Serif", serif;
  background: linear-gradient(90deg, #a5a5a5, #000);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
}

.intro h1 {
  color: #fff;
  font-size: 42px;
  font-style: italic;
  font-weight: 300;
}

.intro h4 {
  color: #fff;
  font-style: italic;
  font-weight: 200;
  font-size: 30px;
}

img {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  padding: 1px;
  object-fit: cover;
  border: 8px solid transparent;
  background: linear-gradient(60deg, #fff 10%, #ce80 100%);
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  color: #fff;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}

.styled-table thead tr {
  background-color: #d35e35;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: #000;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #d35e35;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #000;
}

.info {
  color: #fff;
}

h4 {
  text-align: center;
  color: #d35e35;
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
}

.hobbies {
  display: flex;
  align-items: normal;
  justify-content: center;
  justify-content: space-evenly;
  color: #fff;
  font-weight: 300;
}

.hobbies li {
  font-size: 20px;
}

.color {
  color: #d35e35;
  font-weight: 400;
  margin-bottom: 15px;
}

.hobbies ul {
  padding-bottom: 3px;
}
