/** @format */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  width: 840px;
  padding: 50px;
  font-family: "Avenir", sans-serif;
  font-family: "IBM Plex Serif", serif;
}

.intro {
  height: 100vh;
  width: 100%;
}

.intro h1 {
  font-style: italic;
  text-align: end;
  font-weight: 300;
  font-size: 30px;
  padding: 20px;
  margin: 0;
}

.slogan {
  position: absolute;
  color: #d35e35;
  top: 231px;
  font-size: 87px;
  margin-left: 380px;
  text-transform: uppercase;
}

.intro_img img {
  object-fit: contain;
  height: 500px;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info h4 {
  font-size: 40px;
  font-weight: 300;
  color: #d35e35;
}

table {
  width: 100%;
}

table,
td {
  border-bottom: 1px solid #eee;
  padding: 7px;
}

.info_hobbies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
